Ia-agendamento/n8n/Transferencia Humana.json
{
  "name": "Transferencia Humana Master",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "nome_cliente"
            },
            {
              "name": "sessionId"
            },
            {
              "name": "instance name"
            },
            {
              "name": "Recebedor"
            },
            {
              "name": "ID_conversa"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "75d3202f-1904-4ce6-8383-459344bf40ca",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "beabaf63-e075-4c69-b1bf-4faebbc6ec4c",
              "name": "nome_cliente",
              "value": "={{ $json.nome_cliente }}",
              "type": "string"
            },
            {
              "id": "00589d33-e999-47a3-ba75-4e1c98b036a6",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "7ff17d11-48e4-4c33-9ee7-6daa94660074",
              "name": "instance name",
              "value": "={{ $json['instance name'] }}",
              "type": "string"
            },
            {
              "id": "e63e8320-feb9-46fc-a2c6-791e0dcdf576",
              "name": "Recebedor",
              "value": "={{ $json.Recebedor }}",
              "type": "string"
            },
            {
              "id": "8f02a7e8-cc98-416c-96b0-2a1127eda607",
              "name": "ID_conversa",
              "value": "={{ $json.ID_conversa }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "cc6e45d8-8237-475a-9abf-73b332dbc333",
      "name": "Normalizar"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.ID_conversa }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        416,
        160
      ],
      "id": "ff73e1a8-8c7e-404f-8349-c9d8e9aacb0d",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "T7iAEvtWEUo9iSK4",
          "name": "testes"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "1f8d108d-ecfd-4f4e-bf0e-9bf13fbfacb4",
      "name": "Historico de mensagens"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Você é um resumidor de conversas. Você pegará os principais pontos da conversa e fará um resumo em bullet point informando do que o cliente quer tratar e por que ele precisa de ajuda - para isso a lista deverá usar \"-\"."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        768,
        0
      ],
      "id": "5184147a-d5fd-4be0-8574-fc3ea0e8b220",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano-2025-04-14"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        768,
        176
      ],
      "id": "3319dabc-9316-4ffa-be4d-8cc17936526f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mLLprCDLDRAIqXU7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Normalizar').item.json['instance name'] }}",
        "remoteJid": "={{ $('Normalizar').item.json.Recebedor }}",
        "messageText": "=Olá, o cliente {{ $('Normalizar').item.json.nome_cliente }} precisa de atendimento humano.\n\nRESUMO DA CONVERSA: {{ $('Basic LLM Chain').item.json.text }}\n\nPara falar com o cliente: wa.me/{{ $('Normalizar').item.json.sessionId }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1120,
        0
      ],
      "id": "98ea98c3-3a0d-4778-84ec-ead8b12747d5",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "MfTU7tgbipJoephr",
          "name": "Teste"
        }
      }
    },
    {
      "parameters": {
        "content": "## Direciona o fluxo para atendimento humano",
        "height": 384,
        "width": 1392,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -80
      ],
      "typeVersion": 1,
      "id": "46f16640-27ae-4df0-b950-269a386c41cc",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "nome_cliente": "Gui",
          "sessionId": "5511982026040",
          "instance name": "testesAiAgent",
          "Recebedor": "5511962146562@s.whatsapp.net",
          "ID_conversa": "5511982026040-343ac9df-d1a0-42e2-9f00-c06fe1f40e40"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar": {
      "main": [
        [
          {
            "node": "Historico de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Historico de mensagens",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Historico de mensagens": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "64ee6b80-6e46-48e3-960d-15303e9d7ec0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d0d48c1bfffdabdb45a95141cce76732b0f063d8a6275c3debc3a803e1109e3d"
  },
  "id": "3t4kdqypOYf24KCU",
  "tags": []
}